.top-nav-collapse {
  background-color: #563e91 !important;
  }
    
.navbar:not(.top-nav-collapse) {
  background: #563e91 !important;
  }
@media (max-width: 991px) {
.navbar:not(.top-nav-collapse) {
  background: #563e91 !important;
  }
}
        
.courses .course-item {
  border-radius: 5px;
  border: 1px solid #eef0ef;
}

.courses .course-content {
  padding: 15px;
}

.courses .course-content h3 {
  font-weight: 700;
  font-size: 20px;
}

.courses .course-content h3 a {
  color:black;
  transition: 0.3s;
}

.courses .course-content h3 a:hover {
  color: purple;
}

.courses .course-content p {
  font-size: 14px;
  color: #070707;
}

.courses .course-content h4 {
  font-size: 14px;
  background:#673ab7;
  padding: 7px 14px;
  color: #fff;
  margin: 0;
}

.courses .course-content .price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #37423b;
}

.about .content h3 {
  font-weight: 300;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color:#673ab7;
}


@media (max-width: 992px) {
  .about .content .learn-more-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}



